<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/home" routerLinkActive="active"
      ><mat-icon class="mr-1">home</mat-icon>Home</a
    >
    <a mat-button routerLink="/marcas" routerLinkActive="active">Marcas</a>
    <a mat-button routerLink="/autos" routerLinkActive="active">Autos</a>
    <span class="example-spacer"></span>
    <a
      class="float-right"
      mat-button
      routerLink="/admin"
      routerLinkActive="active"
      ><mat-icon> admin_panel_settings</mat-icon> Administración</a
    >
  </mat-toolbar-row>
</mat-toolbar>
